UKRPOSHTA_BEARER_ECOM=your_bearer_token_here
UKRPOSHTA_BEARER_STATUS=your_status_tracking_token_here
UKRPOSHTA_COUNTERPARTY_TOKEN=your_counterparty_token_here
UKRPOSHTA_COUNTERPARTY_UUID=your_counterparty_uuid_here
UKRPOSHTA_SENDER_POSTCODE=your_postcode_here
UKRPOSHTA_ENV=production
